@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    // Neutral Colors
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

body {
    font-family: "Epilogue", sans-serif;
    min-height: 100vh;
}

div#cover {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
    transition-delay: 5000ms;
}

div#cover.covering {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem;

    .menu-list {
        position: fixed;
        transform: translateX(100%);
        z-index: 3;
        top: 0;
        right: 0;
        width: 65%;
        height: 100vh;
        background: var(--almost-white);

        list-style: none;

        padding-top: 11vh;
        padding-left: 2rem;
        transition: transform 0.3s ease-in-out;

        &.showmenu {
            transform: translateX(0%);
        }

        .list-item {
            font-size: 1.1rem;
            padding-bottom: 1.3rem;
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--medium-gray);

                .item-icon {
                    margin-left: 12px;
                    background-image: url('../images/icon-arrow-down.svg');
                    height: 10px;
                    width: 10px;
                    background-repeat: no-repeat;
                    transition: 0.2s;

                    &.show-option {
                        background-image: url('../images/icon-arrow-up.svg');
                    }
                }
            }

        }

        .options-container {

            .options-list {
                list-style: none;
                display: none;
                padding: .5rem 1rem;


                .options-item {
                    padding: 0 0 1.5rem;
                    font-size: 1rem;

                    a {
                        color: var(--medium-gray);
                        text-decoration: none;
                        display: flex;
                        transition: color 150ms;

                        img {
                            padding-right: 12px;
                        }


                        &:hover {
                            color: var(--almost-black);
                        }
                    }
                }

                &.show-item {
                    display: inline-block;
                }
            }
        }
    }


    .nav-btn {
        background-image: url('../images/icon-menu.svg');
        background-size: cover;
        height: 20px;
        width: 32px;
        z-index: 3;

        &.close-btn {
            background-image: url('../images/icon-close-menu.svg');
            background-size: cover;
            height: 30px;
            width: 32px;
        }
    }

    .desktop-options {
        display: none;
    }
}

.main-img {
    height: 35vh;
    background-image: url('../images/image-hero-mobile.png');
    background-position: center center;
    background-size: cover;
}

.main {

    .main-content {
        padding: 3rem 1rem;
        text-align: center;

        .main-text {
            line-height: 150%;
            padding: 1.5rem 0;
            color: var(--medium-gray);
        }

        .main-btn {
            font-size: 1.2rem;
            padding: .9rem 1.3rem;
            border-radius: .9rem;
            border: none;
            background: var(--almost-black);
            color: var(--almost-white);
            font-weight: 700;
            border: 1px solid transparent;
            transition: 250ms;

            &:hover {
                border: 1px solid var(--almost-black);
                background: var(--almost-white);
                color: var(--almost-black);
                cursor: pointer;
            }
        }
    }

    .footer {
        width: 100%;

        .footer-image-container {
            padding: 0 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-image-container>img {
            width: 23%;
        }
    }
}



.attribution {
    font-size: 11px;
    text-align: center;
    // display: none;

    a {
        color: hsl(228, 45%, 44%);
    }
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav {
        padding: 0 15%;

        .menu-list {
            width: 20%;
            padding-left: 4rem;
            padding-top: 13vh;

            .list-item {
                font-size: 1.3rem;
                padding-bottom: 1.5rem;
            }

            .options-container {
                .options-list {
                    .options-item {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    .main-img {
        width: 700px;
        height: 40vh;
        background-position: 50% 0;
    }

    .main {

        .main-content {
            .main-title {
                font-size: 3rem;
            }

            .main-text {
                width: 500px;
            }
        }

        .footer {
            display: flex;
            justify-content: center;

            .footer-image-container {
                max-height: 50px;

                .footer-image-container>img {
                    height: 20%;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .nav {
        padding: 0 3rem;
        position: relative;

        .menu-list {
            position: static;
            transform: translateX(0);
            width: max-content;
            display: flex;
            align-items: center;
            padding: 0;
            height: max-content;
            flex-grow: 1;
            padding-left: 4rem;
            background: transparent;

            .list-item {
                padding-bottom: 0;
                margin-right: 1rem;
                padding-right: 2rem;
                font-size: 1rem;
                transition: color 150ms;

                a {
                    transition: color 150ms;


                    &:hover {
                        color: var(--almost-black);

                    }
                }
            }

            .options-container {
                .options-list {
                    position: absolute;
                    top: 40px;
                    left: 1rem;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
                    border-radius: .5rem;
                    padding: 1.5rem 1.5rem 0;
                    z-index: 3;
                    background: var(--almost-white);

                    .options-item {
                        font-size: 0.9rem;
                        padding-bottom: 1rem;
                    }
                }

                .options-list-2 {
                    position: absolute;
                    top: 40px;
                    left: 200px;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
                    border-radius: .5rem;
                    padding: 1rem 1.5rem 0;
                    z-index: 3;
                    background: var(--almost-white);
                }
            }

        }

        .nav-btn {
            display: none;
        }

        .desktop-options {
            display: flex;
            align-items: center;
            padding: 1rem 0 1rem;

            .login-btn {
                text-decoration: none;
                color: var(--medium-gray);
                padding-right: 2rem;
                transition: color 150ms;

                &:hover {
                    color: var(--almost-black);
                }

            }

            .register-btn {
                font-size: 1rem;
                padding: .9rem 1.3rem;
                border-radius: .9rem;
                border: none;
                background: var(--almost-black);
                color: var(--almost-white);
                border: 1px solid transparent;
                transition: 250ms;


                &:hover {
                    border: 1px solid var(--almost-black);
                    background: var(--almost-white);
                    color: var(--almost-black);
                    cursor: pointer;
                }
            }
        }
    }

    .wrap {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        padding: 2rem 10rem;

        .main-img {
            background-image: url('../images/image-hero-desktop.png');
            height: 80vh;
            background-position: center center;
            background-size: 85%;
            background-repeat: no-repeat;
            width: 40vw;
        }

        .main {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .main-content {
                flex-grow: 1;
                text-align: left;
                padding: 5rem 0 0;

                .main-title {
                    font-size: 4rem;
                    padding-top: 3rem;
                }

                .main-text {
                    line-height: 200%;
                    width: 400px;
                    padding: 3rem 0;
                }
            }

            .footer {
                width: 100%;
                justify-content: center;
                padding: 0;

                .footer-image-container {
                    height: 50px;
                    display: flex;
                    align-items: center;
                    padding: 5rem 0;

                }
            }
        }
    }
}